button{
    all: unset;
}
.button{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c757d50;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.button:hover{
    background-color: #6C757D;
}